@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Calcs</h1>
    <p>This a basic project what have basic calculations of math. This is maked just to fix the basic in my head</p>
</div>

<div>
    <h1>Bhaskara</h1>

    <div class="container">


    </div>
</div>
